## Análise exploratória de dados

In [7]:
from utils.serialize_df import read_parquet_df

import pandas as pd

In [8]:
df = read_parquet_df('contratos_prodam.parquet')

In [9]:
df.describe()

       valReajustes  codModalidade  ...  valAnuladoEmpenho  valPrincipal
count      50.00000      50.000000  ...       5.000000e+01  5.000000e+01
mean     2029.16720       6.080000  ...       1.749744e+06  1.728810e+09
std     12981.39342       0.395897  ...       5.719006e+06  1.218392e+10
min         0.00000       6.000000  ...       0.000000e+00  4.354770e+03
25%         0.00000       6.000000  ...       2.644650e+03  1.693489e+05
50%         0.00000       6.000000  ...       2.442311e+04  3.932707e+05
75%         0.00000       6.000000  ...       4.545394e+05  7.030733e+06
max     91809.85000       8.000000  ...       3.608543e+07  8.615903e+10

[8 rows x 12 columns]

In [ ]:
cols_valores: list[str] = [col for col in df.columns if col.startswith('val')]

In [10]:
cols_valores

['valReajustes',
 'valAditamentos',
 'valLiquidado',
 'valPago',
 'valAnulacao',
 'valEmpenhadoLiquido',
 'valTotalEmpenhado',
 'valAnuladoEmpenho',
 'valPrincipal']

In [12]:
cols_valores_interesse = ['valTotalEmpenhado', 'valEmpenhadoLiquido', 'valAditamentos', 'valReajustes', 'valPago']

In [19]:
((df['valTotalEmpenhado'] - df['valEmpenhadoLiquido']) == df['valAnuladoEmpenho']).mean()

np.float64(0.52)

In [24]:
((df['valTotalEmpenhado'] - df['valEmpenhadoLiquido']) == df['valAnulacao']).mean()

np.float64(0.24)

In [23]:
(df['valTotalEmpenhado']>=df['valEmpenhadoLiquido']).all()

np.True_

In [25]:
df['valAnuladoEmpenho']  = df['valTotalEmpenhado'] - df['valEmpenhadoLiquido']

In [13]:
df.columns

Index(['txtDescricaoModalidade', 'codEmpresa', 'codTipoContratacao',
       'valReajustes', 'codProcesso', 'codModalidade', 'valAditamentos',
       'codContrato', 'valLiquidado', 'codOrgao', 'valPago', 'valAnulacao',
       'valEmpenhadoLiquido', 'valTotalEmpenhado', 'anoContrato',
       'txtDescricaoOrgao', 'valAnuladoEmpenho', 'valPrincipal',
       'txtTipoContratacao', 'txtObjetoContrato', 'datVigencia',
       'datAssinaturaContrato', 'numOriginalContrato',
       'datPublicacaoContrato'],
      dtype='object')

In [30]:
cols_descricao_contrato = ['codProcesso', 'codContrato', 'txtDescricaoModalidade', 'txtTipoContratacao', 'txtObjetoContrato', 'datAssinaturaContrato', 'datVigencia']

In [31]:
df[cols_descricao_contrato].head()

        codProcesso  codContrato  ... datAssinaturaContrato          datVigencia
0  9310202400022280           18  ...                  None                 None
1      000113512023           18  ...   03/03/2024 00:00:00  02/03/2026 00:00:00
2  7810202400008736           35  ...   12/07/2024 00:00:00  15/07/2026 00:00:00
3      000022682024           52  ...   04/04/2024 00:00:00  04/04/2026 00:00:00
4  8510202400006786          148  ...   24/10/2024 00:00:00  27/10/2025 00:00:00

[5 rows x 7 columns]

In [32]:
cols_secretaria = ['txtDescricaoOrgao']

In [33]:
cols_interesse_todas = cols_secretaria + cols_descricao_contrato + cols_valores_interesse

In [35]:
df[cols_interesse_todas].head()

                                   txtDescricaoOrgao  ...    valPago
0  Agência Reg. de Serv. Públicos do Mun de São P...  ...       0.00
1       Tribunal de Contas do Município de São Paulo  ...  797790.27
2                                São Paulo Urbanismo  ...  179126.15
3       Tribunal de Contas do Município de São Paulo  ...  215100.74
4            Fundação Theatro Municipal de São Paulo  ...   65262.94

[5 rows x 13 columns]

In [36]:
from utils.serialize_df import df_to_parquet

In [38]:
df_to_parquet(df, 'dados_contratos_prodam_limpos.parquet')

'data/dados_contratos_prodam_limpos.parquet'